.blob-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
}

.blob-main {
  pointer-events: none;
  position: absolute;
  inset: 0;
  overflow: hidden;
  background: transparent;
  user-select: none;
}

.blob {
  position: absolute;
  will-change: transform;
  transform: translate(-50%, -50%);
}

.inner-dot {
  position: absolute;
}
